.div {
  width: 200px;
  position: relative;

  .input-text {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #b0b0af;
    color: #b0b0af;
    outline: none;
    font-size: 16px;
    padding: 0 8px;
  }

  .eva {
    position: absolute;
    pointer-events: none;
    top: 12px;
    right: 0;
  }
}
